html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-text-size-adjust: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #666;
  background-color: #fff;
}

div#headerWrapper {
  background-color: #214a9c;
}

header {
  position: relative;
  background-color: #214a9c;
  padding: 1rem 2% .5rem 2%;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: 'Merriweather', serif, cursive;
  color: #FFF;
}

header h2 {
  font-size: .58rem;
  letter-spacing: 2px;
  padding-top: .2rem;
  font-weight: 100;
  color: #ddd;
}

header h3 {
  position: absolute;
  right: 2%;
  bottom: 10px;
}

header h3 a {
  color: #eee;
  text-decoration: none;
}

div#navWrapper {
  background-color: #4cbcbc;
}

nav button {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  padding: .5rem 0;
  background-color: #4dbcbc;
  color: #fff;
  border: none;
  border-top: solid 1px rgba(255, 255, 255, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

nav button:hover {
  background-color: #787275;
}

main {
  min-height: 5em;
  padding: 2rem 2%;
}

main h1 {
  font-family: "Alex Brush", cursive;
  font-size: 2.5rem;
  color: #214a9c;
  text-align: center;
}

main h2 {
  font-family: "Alex Brush", cursive;
  font-size: 2rem;
  color: #214a9c;
}

main p {
  line-height: 130%;
}

main p#desc {
  text-align: center;
  font-size: 1.4rem;
}

main span {
  font-weight: 700;
}

main figure.photo {
  margin-top: 1rem;
  border: 1px solid #aaa;
}

main figure.photo img {
  width: 100%;
  display: block;
}

main section {
  margin-top: 2rem;
}

main a.reserve {
  display: block;
  font-weight: 700;
  background-color: #4cbcbc;
  color: #fff;
  text-decoration: none;
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 20px;
  text-align: center;
}

div#footerWrapper {
  width: 100%;
  background-color: #787275;
  clear: both;
}

div#footerWrapper footer {
  padding: 1em;
  text-align: center;
  color: #fff;
  background-color: #787276;
  font-size: .9rem;
}

div.keepOpen {
  clear: both;
}

@media only screen and (min-width: 360px) {
  header h3 {
    bottom: 1px;
  }
}

@media only screen and (min-width: 480px) {
  header h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: .875rem;
    letter-spacing: 4px;
  }
  nav {
    background-color: #de3232;
  }
  nav button {
    width: 33.3333%;
    float: left;
    border: none;
    border-left: solid 1px rgba(255, 255, 255, 0.4);
    border-right: solid 1px rgba(0, 0, 0, 0.4);
  }
  main section {
    width: 50%;
    float: left;
  }
  a.reserve {
    width: 215px;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url(../soft_wallpaper.png);
  }
  header,
  nav,
  main,
  footer {
    max-width: 960px;
    margin: 0 auto;
  }
  main {
    background-color: #fff;
  }
  header {
    padding-top: 2rem;
  }
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1rem;
    letter-spacing: 5px;
  }
  main h1 {
    font-size: 4rem;
  }
}